<div class="body">
  <div class="container">
    <img src="/assets/img/logo-yellow.png" />

    <div class="steps mb-8">
      <div>
        <h2 class="title">Share messages to share with your friends.</h2>
        <p class="subtitle mb-4">
          Create your first message following the first steps:
        </p>
        <div class="step">
          <img src="/assets/img/Fashion blogging-pana 2.png" />
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore,
            quisquam et expedita consectetur adipisicing elit. Inventore,
            quisquam et expedita.
          </p>
        </div>
        <div class="step mb-8">
          <img src="/assets/img/Connected world-pana 2.png" />
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore,
            quisquam et expedita voluptate ipsa necessitatibus. Inventore,
            quisquam et expedita voluptate ipsa necessitatibus.
          </p>
        </div>
        <div class="buttons buttons-show justify-start">
          <button class="button bg-primary" routerLink="/signup">
            Sign up
          </button>
          <button class="button bg-secondary" routerLink="/login">Login</button>
        </div>
      </div>
      <img class="mobile" src="/assets/mobile/Samsung Galaxy S20 5G-1.png" />
    </div>

    <div class="steps text-right mb-8">
      <img class="mobile" src="/assets/mobile/Samsung Galaxy S20 5G-3.png" />
      <div>
        <h2 class="title">Create messages to share with your friends.</h2>
        <p class="mb-4">Create your first message following the first steps:</p>
        <div class="step">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore,
            quisquam et expedita.
          </p>
          <img src="/assets/img/Fashion blogging-pana 1.png" />
        </div>
        <div class="step mb-8">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore,
            quisquam et expedita voluptate ipsa necessitatibus.
          </p>
          <img src="/assets/img/Connected world-pana 1.png" />
        </div>
        <div class="buttons buttons-show justify-end">
          <button class="button bg-primary" routerLink="/signup">
            Sign up
          </button>
          <button class="button bg-secondary" routerLink="/login">Login</button>
        </div>
      </div>
    </div>

    <div class="download mb-8">
      <img class="code" src="/assets/icon/pngwing 1.png" />
      <div>
        <p>Scan to download</p>
        <p>iOS & Android</p>
      </div>
    </div>

    <div class="platforms mb-8">
      <div><img src="/assets/icon/ri_app-store-fill-1.png" /></div>
      <div><img src="/assets/icon/Frame 17.png" /></div>
      <div><img src="/assets/icon/Vector-1.png" /></div>
      <div><img src="/assets/icon/wpf_macos.png" /></div>
      <div>
        <img src="/assets/icon/material-symbols_desktop-windows-1.png" />
      </div>
      <div><img src="/assets/icon/mdi_linux.png" /></div>
    </div>

    <div class="buttons buttons-hide">
      <button class="button bg-primary" routerLink="/signup">Sign up</button>
      <button class="button bg-secondary" routerLink="/login">Login</button>
    </div>
  </div>
</div>
